@import '../../../assets/sass/abstract/variables';

.floating-wrapper {
  width: 965px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  .floating-wrapper-inner {
    width: 100%;
    height: 100%;
    position: relative;
    .floating-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
        height: 100%;
      }
      &.floating-item-1 {
        margin-left: -38%;
        margin-top: 12%;
        -webkit-animation: action-01 1s infinite alternate;
        animation: action-01 1s infinite alternate;
      }
      &.floating-item-2 {
        margin-left: 22%;
        margin-top: -3%;
        -webkit-animation: action-02 1s infinite alternate;
        animation: action-02 1s infinite alternate;
      }
      &.floating-item-3 {
        margin-top: 38%;
        margin-left: 18%;
        -webkit-animation: action-03 1s infinite alternate;
        animation: action-03 1s infinite alternate;
      }
      &.floating-item-4 {
        margin-left: 37%;
        margin-top: 16%;
      }
      &.floating-item-5 {
        margin-left: -40%;
        margin-top: 32%;
      }
      &.floating-item-6 {
        margin-top: -33%;
        margin-left: 20%;
      }
      &.floating-item-7 {
        margin-top: -22%;
        margin-left: -34%;
      }
      &.floating-item-1,
      &.floating-item-2,
      &.floating-item-3 {
        width: 182px;
        height: 122px;
        background: white;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.floating-item-4,
      &.floating-item-5,
      &.floating-item-6,
      &.floating-item-7 {
        width: 62px;
        height: 62px;
        background: white;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.floating-item-4,
      &.floating-item-5 {
        -webkit-animation: action-1 10s infinite alternate;
        animation: action-1 10s infinite alternate;
      }
      &.floating-item-6,
      &.floating-item-7 {
        -webkit-animation: action-2 10s infinite alternate;
        animation: action-2 10s infinite alternate;
      }
    }
  }
}
@-webkit-keyframes action-01 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -60%);
  }
}
@keyframes action-01 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -60%);
  }
}
@-webkit-keyframes action-02 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -80%);
  }
}
@keyframes action-02 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -80%);
  }
}
@-webkit-keyframes action-03 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -30%);
  }
}
@keyframes action-03 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -30%);
  }
}
@-webkit-keyframes action-1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  75% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
}
@keyframes action-1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  75% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes action-2 {
  0% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  25% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
}
@keyframes action-2 {
  0% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  25% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1800deg) scale(0.5);
  }
}

.account__screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .account__screen__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: top left;
  }
  .account__form {
    position: absolute;
    top: 50%;
    right: 7%;
    z-index: 1;
    background: white;
    width: 520px;
    height: auto;
    padding: 70px 50px;
    border-radius: 39px;
    transform: translateY(-50%);
    box-shadow: 0px 30px 60px #00000033;
    .form__inner {
      position: relative;
      .account__form__header {
        padding-bottom: 30px;
        .title {
          text-align: center;
          font-weight: bold;
          font-size: 36px;
          line-height: 36px;
          letter-spacing: 0px;
          color: #d63548;
          margin-bottom: 10px;
          text-transform: capitalize;
          opacity: 1;
        }
        .sub__title {
          text-align: center;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0px;
          color: #858585;
          max-width: 360px;
          margin: 0 auto;
          opacity: 1;
        }
      }
      .account__form__body {
        padding-top: 30px;
        .input-wrapper {
          position: relative !important;
          margin: 20px 0px !important;
          .MuiFormControl-root {
            label {
              left: 70px;
              top: 10px;

              text-align: left;
              font-weight: normal;
              font-size: 18px;
              line-height: 18px;
              font-family: $font-Ubuntu;
              letter-spacing: 0px;
              color: #abaec5;
              opacity: 1;
            }
            input {
              padding-left: 70px;
              padding-bottom: 15px;
              text-align: left;
              font-weight: 500;
              font-size: 18px;
              line-height: 18px;
              font-family: $font-Ubuntu;
              letter-spacing: 0px;
              color: #11153b;
              opacity: 1;
            }
          }
          &.password-checkHide {
            &.success {
              position: relative;
              border-color: green;
              &::before {
                display: none;
              }
            }
          }
          &.error {
            position: relative;
            .MuiInputBase-root {
              &::before {
                border-color: $red !important;
              }
            }
            .MuiInputBase-root {
              color: $red !important;
            }
            .label__icon {
              color: $black !important;
            }
          }
          &.success {
            position: relative;
            border-color: green;
            border-block-color: green;
            &::before {
              font-size: 20px;
              font-weight: bold;
              border-color: green;
              color: #39be12;
              font-family: 'poppins', sans-serif;
              position: absolute;
              content: '\2713';
              top: 50%;
              right: 35px;
              transform: translateY(-50%);
            }
            .MuiInputBase-root {
              &::before {
                border-color: #75818a !important;
              }
            }
            .MuiInputBase-root {
              color: $black !important;
            }
            .label__icon {
              color: $black !important;
            }
          }
        }
      }

      .MuiInputBase-root {
        margin-top: 30px;
        &::before {
          height: 70px;
          border: 1px solid #e8ebf3 !important;
          border-radius: 100px;
          border-radius: 35px;
        }
        &::after {
          display: none;
        }
      }
      .MuiInputLabel-shrink {
        top: 20px !important;
      }
    }
  }
}

.label__icon {
  position: absolute !important;
  top: 50% !important;
  left: 25px !important;
  transform: translateY(-50%) !important;

  display: flex !important;
  align-items: center;
  justify-content: center;
}

.password-toggle {
  margin-right: 20px !important;
  margin-top: -30px !important;
  background: #c9c9c94d !important;
}

.forgot-password {
  width: 100%;
  display: block;
  text-align: right;
  text-decoration: underline;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #092133;
  text-transform: capitalize;
  opacity: 1;
}

.form-control {
  background: none !important;
  position: relative !important;
  display: block;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


// Media css for Ipad pro
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .account__form__animation {
      display: none;
    }
    .container-fluid {
      max-width: 780px;
    }
    .account__screen .account__form {
      right: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}


// Media css for Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .account__form__animation {
    display: none;
  }
  .container-fluid {
    max-width: 530px;
  }
  .account__screen .account__form {
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 }


// Media css for Mobile

@media (max-width: 767px) {
  .account__form__animation {
    display: none;
  }
  .container-fluid {
    padding: 0px 30px;
    max-width: 530px;
  }
  .account__screen .account__form {
    width: 280px;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 30px;
  }
}