// Basic css
body {
  padding: 0;
  margin: 0;
  font-size: $sm-text;
  font-family: $font-Ubuntu !important;
}
header,
section,
footer {
  width: 100%;
  float: left;
  clear: both;
}
input,
select,
button {
  outline: none !important;
  box-shadow: none !important;
}

// Custom Buttons
.customBtn-01 {
  width: 100%;
  height: 70px;
  background: transparent linear-gradient(297deg, #f57c52 0%, #d63548 100%) 0%
    0% no-repeat padding-box;
  mix-blend-mode: luminosity;
  border-radius: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.72px;
  color: #ffffff !important;
  border: 0px;
  text-transform: uppercase;
  opacity: 0.5;
  box-shadow: none !important;
  outline: none !important;
  &.btn-enable-style {
    opacity: 1;
    background: transparent linear-gradient(297deg, #f57c52 0%, #d63548 100%) 0%
      0% no-repeat padding-box;
    mix-blend-mode: normal;
    cursor: pointer !important;
    &:hover {
      box-shadow: 0px 30px 60px #da291c33 !important;
    }
  }
}

// Error Text
.error__msg {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: 'poppins', sans-serif;
  letter-spacing: 0px;
  color: #d63548;
  justify-content: center !important;
  margin: 0px;
  opacity: 1;
  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

// Mixin for flex
@mixin theme($theme: space-between) {
  display: flex;
  align-items: center;
  justify-content: $theme;
}
.container-fluid {
  max-width: 1700px;
  margin: 0 auto;
  @include theme;
}
.error__msg,
.width-adjusting-css {
  @include theme($theme: flex-start);
}


