.box-help-text {
    font-family: "poppins", sans-serif;
    text-align: center;
    display: block;
    padding: 15px;
    margin: auto;
    color: #9CA6AD;
    width: 80%;
}

.no-pointers {
    pointer-events: none;
}

.checkIcon {
    position: absolute;
    z-index: 9;
    right: 6%;
    top: 40%;
}

.removeBorder .MuiInputBase-root:before {
    border-bottom: none;
}

.removeBorder {
    pointer-events: none;
}

.MuiTableContainer-root.buildfix4 {
    background-color: unset;
    box-shadow: none;
}

.showDate {
    border: solid 1px #3448571A;
    border-radius: 20px;
    padding: 10px;
    background: #F1F4F9;
    font-family: ubuntu;
    color: #344857;
    font-weight: 500;
    cursor: pointer;
}

.cal {
    padding-left: 32px;
    position: relative;
    top: 7px;
}
