ul.actionButtons {

    & button.actionButton__item {
        &:hover {

            & span {

                transition: all 200ms 0ms ease-in;
                background-color: $red !important;

                & svg {

                    & path {
                        transition: all 200ms 0ms ease-in;
                        fill: $white !important;

                    }
                }

            }
        }

    }

    & button.download-cdr {
        &:hover {
            background-color: #d63548 !important;

            & svg {

                & path {
                    fill: $white !important;
                }
            }
        }
    }
}

.overdue svg path {
    fill: rgb(54, 63, 94) !important;
    stroke: rgb(54, 63, 94) !important;
}

.overdue svg circle {
    stroke: rgb(54, 63, 94) !important;
    fill: rgb(54, 63, 94) !important;
}


.pending svg path {
    fill: rgb(229, 68, 87) !important;
    stroke: rgb(229, 68, 87) !important;
}

.pending svg circle {
    stroke: rgb(229, 68, 87) !important;
    fill: rgb(229, 68, 87) !important;
}

.completed svg path {
    fill: rgb(61, 184, 135) !important;
    stroke: rgb(61, 184, 135) !important;
}

.completed svg circle {
    stroke: rgb(61, 184, 135) !important;
    fill: rgb(61, 184, 135) !important;
}


#basic-menu-customerle,
#basic-menu-entity,
#basic-menu-invoiceno,
#basic-menu-pono,
#basic-menu-status {
    & ul {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: $white;
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        border-radius: 10px;
        box-shadow: 0px 5px 50px #00000026;

        & li {
            font-size: 14px;
            color: #717171 !important;

            & svg {
                height: 20px;
            }

            &:last-child {
                color: #344857 !important;
                opacity: 0.4;
                font-weight: bold;
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
        }
    }
}



// Specifically for status
#basic-menu-status {
    & ul {
        width: 250px;
        gap: 8px;

        & li {

            & svg {}

            &:last-child {
                display: flex;
                gap: 16px;
            }
        }
    }
}

.inside_search {
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    background: #F7F8FA;
    height: 36px;
    padding: 10px 15px;

    &::placeholder {
        color: #344857;
        opacity: 0.5;
    }
}
